*
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin:0;
}
header
{
	height: 100px;
	padding: 20px;
	text-align: right;
    background-image: url("images/kastely.jpg");
    background-position-y: -250px;

    color:white;
}

nav
{
    color:goldenrod;
    padding-left:20px;
}

nav a
{
    color:white;
    text-decoration: none;
}

nav li
{
    list-style-type: none;
    padding:10px;
}
nav ul
{
    padding:0;
}

nav a:hover li
{
    color:rgb(38, 68, 79);
    background-color: white;
}

footer
{
    text-align: center;
    min-height: 50px;
    padding-top:15px;
}

.infoBox
{
    background-color: #99999966;
    background-color: #999999ff;
    margin:10px;
    padding:10px;
    border: 2px solid #555555;
    border-radius: 5px;
}

.infoBox h3
{
    margin:0;
    text-align: center;
    border-bottom:1px solid rgb(38, 68, 79);
}

header {    background-color: antiquewhite;}
nav {    	background-color: rgb(38, 68, 79);}
.jobbsav {  background-color:rgb(213, 217, 255);}
.tartalom {    background-color: rgb(61, 231, 18);}
footer {    background-color: rgb(227, 215, 250);}




#grid-container
{
    display:grid;
    grid-template-columns: auto;
}
/* mobil */


/* tablet */
@media only screen and (min-width:600px)
{
    footer {    background-color: rgb(89, 0, 255);}

    #grid-container
    {
        grid-template-columns: 25% 75%;
    }

    header {    grid-column: 1 / 3;}
    nav {       grid-column: 1;}
    .jobbsav{   grid-column: 1;}
    .tartalom{  grid-column: 2; grid-row: 2/4;}
    footer{    grid-column: 1 / 3;}
}

/* monitor */
@media only screen and (min-width:1200px)
{
	#grid-container
    {
		width:1200px;
        grid-template-columns: 25% 55% 20%;
		margin:auto;
    }
    footer {    background-color: rgb(255, 251, 0);}

	header {    grid-column: 1 / 4;}
    nav {       grid-column: 1;}
    .jobbsav{   grid-column: 3;}
    .tartalom{  grid-column: 2; }
    footer{    grid-column: 1 / 4;}
}


